<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- Shared settings -->
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>Syrup</string>
	<key>CFBundleIdentifier</key>
	<string>org.openvanilla.inputmethod.syrup</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>SYRP</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LSMinimumSystemVersion</key>
	<string>${MACOSX_DEPLOYMENT_TARGET}</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	
	<!-- Additional shared settings -->
	<key>LSBackgroundOnly</key>
	<string>0</string>
	<key>LSHasLocalizedDisplayName</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright (c) 2010-2011 Lukhnos D. Liu</string>
	
	<!-- Input method-specific settings, see IMKServer Class Reference -->
	<key>InputMethodConnectionName</key>
	<string>${INPUT_METHOD_CONNECTION_NAME}</string>
	<key>InputMethodServerControllerClass</key>
	<string>${INPUT_METHOD_SERVER_CONTROLLER_CLASS}</string>
	<key>tsInputMethodCharacterRepertoireKey</key>
	<array>
		<string>Hant</string>
		<string>Hans</string>
	</array>
	<key>tsInputMethodIconFileKey</key>
	<string>Syrup.icns</string>

    <!-- Used by HIToolbox, see HIToolbox Release Notes for Mac OS X 10.5 -->
	<key>TISInputSourceID</key>
	<string>org.openvanilla.inputmethod.syrup</string>
	<key>TISIntendedLanguage</key>
	<string>zh-Hant</string>
</dict>
</plist>
